:root {
  --color-bg: #f7f7f7;
  --color-text: #666666;
  --color-text-secondary: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--color-text);
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.grid-container {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 280px 280px 280px 1fr 280px;
  gap: 24px;
  margin-left: 64px;
  margin-right: 184px;
}

.grid-item-mode {
  grid-column: 1;

  place-self: start start;
}

.grid-item-userpic {
  grid-column: 2;
}

.grid-item-userpic img {
  width: 100%;
}

.grid-item-education {
  grid-column: 4;

  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.grid-item-education span {
  color: var(--color-text-secondary);
}

.grid-item-name-title {
  grid-column: 1;
  grid-row: 2;
}

.name {
  margin: 0;

  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

.subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: var(--color-text-secondary);
}

.grid-item-stack {
  grid-column: 3 / span 2;
  grid-row: 2;
  display: grid;
  align-items: end;

  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

  background-color: var(--color-bg);
}

.grid-item-contact {
  grid-column: 4;
  grid-row: 2;
  place-self: start end;

  text-align: right;
}

.grid-item-contact p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: var(--color-text-secondary);
}

.grid-item-projects {
  grid-column: 1;
  grid-row: 4;

  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}

.projects__list {
  list-style: none;
}

.projects__list a {
  font-weight: 400;
  color: var(--color-text-secondary);
}

.grid-item-experience {
  grid-column: 3 / span 2;
  grid-row: 4;
}

.experience {
  margin-bottom: 112px;
}

.experience__position {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}

.experience__position a,
.experience__position span {
  text-decoration: none;
  color: var(--color-text-secondary);
}

.experience__duration {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: var(--color-text-secondary);
}

.experience__desc {
  margin-top: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  text-align: justify;
  color: var(--color-text-secondary);
}

.grid-item-footer {
  grid-column: 1 / span 4;
  grid-row: 5;
  display: grid;
  align-items: end;
}

.grid-item-footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

/* responsive */

@media screen and (max-width: 768px) {
  .container {
    width: 768px;
  }

  .grid-container {
    grid-template-columns: 280px 280px;
    grid-template-rows: 280px 280px 280px 280px 280px 1fr 280px;

    margin-left: 48px;
    margin-right: 136px;
  }

  .grid-item-userpic {
    grid-column: 1;
    grid-row: 1;
  }

  .grid-item-name-title {
    grid-column: 2;
    grid-row: 1;
  }

  .grid-item-contact {
    grid-column: 2;
    grid-row: 1;
    place-self: end start;

    text-align: left;
  }

  .grid-item-stack {
    grid-column: 1 / span 2;
    grid-row: 2;

    background-color: unset;
  }

  .grid-item-mode {
    grid-column: 2;
    grid-row: 2;
    place-self: start end;
  }

  .grid-item-education {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: grid;
    place-items: end start;

    background-color: var(--color-bg);
  }

  .grid-item-education span {
    color: var(--color-text);
  }

  .grid-item-education p {
    color: var(--color-text-secondary);
  }

  .grid-item-projects {
    grid-column: 2;
    grid-row: 4;
  }

  .grid-item-experience {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

  .grid-item-footer {
    grid-column: 1 / span 2;
    grid-row: 7;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 375px;
  }

  .grid-container {
    grid-template-columns: 280px;
    grid-template-rows: 280px 280px 280px 280px 1fr 280px;

    margin-left: 32px;
    margin-right: 63px;
  }

  .grid-item-mode {
    grid-column: 1;
    grid-row: 1;
    place-self: start start;
  }

  .grid-item-contact {
    grid-column: 1;
    grid-row: 1;
    place-self: start end;

    text-align: right;
  }

  .grid-item-name-title {
    grid-column: 1;
    grid-row: 1;
    place-self: end start;
  }

  .name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .grid-item-userpic {
    grid-column: 1;
    grid-row: 2;
  }

  .grid-item-stack {
    grid-column: 1;
    grid-row: 3;
    place-self: start start;

    background-color: unset;
  }

  .grid-item-stack p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .grid-item-stack span {
    padding-bottom: 8px;
    font-weight: 500;
    color: red
  }

  .grid-item-projects {
    grid-column: 1;
    grid-row: 3;
    place-self: end start;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .projects__list li {
    padding-bottom: 8px;
  }

  .projects__list a {
    font-weight: 400;
    /* color: var(--color-text-secondary); */
  }

  .grid-item-education {
    grid-column: 1;
    grid-row: 4;

    background-color: var(--color-bg);
  }

  .grid-item-education div {
    visibility: hidden;
  }

  .grid-item-experience {
    grid-column: 1;
    grid-row: 5;
  }

  .grid-item-footer {
    grid-column: 1;
    grid-row: 6;
  }
}
