@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --color-bg: #f7f7f7;
  --color-text: #666666;
  --color-text-secondary: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: var(--color-text);
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.grid-container {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: 280px 280px 280px 1fr 280px;
  gap: 24px;
  grid-template-areas:
    "mode userpic . education"
    "title . stack contact"
    ". . . ."
    "projects . experience experience"
    "footer footer footer footer";
  margin-left: 64px;
  margin-right: 184px;
}

.grid-item-mode {
  grid-area: mode;

  place-self: start start;
}

.grid-item-userpic {
  grid-area: userpic;
}

.grid-item-userpic img {
  width: 100%;
}

.grid-item-education {
  grid-area: education;

  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.grid-item-education span {
  color: var(--color-text-secondary);
}

.grid-item-name-title {
  grid-area: title;
}

.name {
  margin: 0;

  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-text-secondary);
}

.grid-item-stack {
  grid-area: stack;
  grid-column: 3 / span 2;
  display: grid;
  align-items: end;

  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

  background-color: var(--color-bg);
}

.grid-item-contact {
  grid-area: contact;
}

.grid-item-contact p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;

  color: var(--color-text-secondary);

}

.grid-item-projects {
  grid-area: projects;

  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}

.projects__list {
  list-style: none;
}

.projects__list a {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-text-secondary);
}

.grid-item-experience {
  grid-area: experience;
}

.experience {
  margin-bottom: 112px;
}

.experience__position {
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}

.experience__position a,
.experience__position span {
  text-decoration: none;
  color: var(--color-text-secondary);
}

.experience__duration {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: var(--color-text-secondary);
}

.experience__desc {
  margin-top: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: justify;
  color: var(--color-text-secondary);
}

.grid-item-footer {
  grid-area: footer;
  display: grid;
  align-items: end;
}

.grid-item-footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-text-secondary);
}
